<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gestión de Actividades{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1.5.10/css/pico.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lista_actividades' %}">Actividades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lista_usuarios' %}">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lista_monitores' %}">Monitores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lista_salas' %}">Salas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lista_responsables' %}">Responsables</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>